body {
    background-color: rgb(163, 156, 156);
    text-align: center;
    font-family: geneva;
}

header {
    background-color:rgb(82, 82, 82);
}

h2 {
    color: brown;
    font-size: 80px;
    margin: 0;
}

h2:hover {
    color: darkgoldenrod;
}

.instructions {
    position: relative;
    cursor: pointer;
}
  
.popuptext {
    visibility: hidden;
    padding: 20px;
    width: 400px;
    height: 450px;
    background-color:aliceblue;
    opacity: 0.90;
    margin-top: 50px;
    line-height: 1.5em;
    margin-left: -220px;
    color: black;
    border-radius: 10%;
    position: absolute;
}

.main-box {
    height: 500px;
    width: 460px;
    background: black;
    margin: auto;
    margin-top: 1%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 5%;
    padding-top: 0.5%;
}

.small-box {
    height: 20%;
    width: 20%;
    background: rgb(131, 126, 126);
    margin: 1%;
    border: white solid 1px;
    border-radius: 10%;
    padding: 1%;
}
  
.instructions .show {
    visibility: visible;
}

.number-1 {
    background: rgb(245, 142, 90);
    border-radius: 10%;
    position: absolute;

}

.numbers {
    font-family: Geneva;
    font-size: 50px;
    text-align: center;
    height: 114px;
    width: 103px;
}